* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 0 auto;
}
.content {
  padding-top: 25px;
  padding-bottom: 25px;
}
.footer {
  flex-shrink: 0;
  margin-top: auto;
}
.footer,
.header {
  background-color: #000;
  color: #fff;
}
.main {
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
